@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font: 'Montserrat', sans-serif;
    --black-50: #f6f6f6;
    --black-100: #e7e7e7;
    --black-200: #d1d1d1;
    --black-300: #b0b0b0;
    --black-400: #888888;
    --black-500: #6d6d6d;
    --black-600: #5d5d5d;
    --black-700: #4f4f4f;
    --black-800: #454545;
    --black-900: #3d3d3d;
    --black-950: #080808;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black-950);
    color: var(--black-50);
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: var(--black-50);
}

.container {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    width: 100%;
}

main {
    display: flex;
    flex-flow: column;
    flex: 1;
    width: 100%;
    position: relative;

    @media only screen and (min-width: 768px) {
        width: calc(100% - 193px);
        left: 193px;
        gap: 5rem;
    }
}

#menu {
    grid-area: menu;
    background-color: var(--black-950);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 15px 20px;

    @media only screen and (min-width: 768px) {
        flex-flow: column;
        border-right: 3px solid var(--black-100);
        padding: 100px 20px;
        justify-content: flex-start;
        position: fixed;
        height: 100vh;
    }

    .logo {
        width: 150px;
        filter: invert(0.91);
    }

    .hamburger-btn {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 3;

        i {
            color: var(--black-100);
            font-size: 25px;
        }

        @media only screen and (min-width: 768px) {
            display: none;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 2rem;
        padding: 12rem 2rem;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: var(--black-950);
        width: 70%;
        max-width: 25rem;
        transform: translateX(100%);
        transition: transform 0.2s ease;
        z-index: 2;

        @media only screen and (min-width: 768px) {
            position: relative;
            height: auto;
            width: auto;
            max-width: auto;
            top: 0;
            transform: translateX(0%);
            padding: 5rem 2rem;
        }
    }
}

#root.open #menu ul {
    transform: translateX(0%);
}

#gallery {
    border: 1px solid red;
}

#tours {
    border: 1px solid red;
}

#merchandise {
    border: 1px solid red;
}

#albums {
    h3 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    div {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        grid-auto-flow: row;
        grid-auto-rows: 200px;
        justify-content: center;
        gap: 1.5rem;
        padding: 2rem 1rem;
        width: 100%;

        .album {
            position: relative;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                filter: grayscale(1);
                transition: all 0.2s ease;
            }
        }

        .album:hover img {
            transform: scale(1.05);
            filter: grayscale(0);
        }

        .album:hover .album-content {
            display: flex;
        }

        .album-content {
            display: none;
            flex-flow: column;
            gap: 1rem;
            justify-content: flex-end;
            align-items: center;
            padding: 2rem 2rem;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.4);
            height: 100%;
            width: 100%;
            z-index: 3;
            font-weight: 600;

            p {
                text-align: center;
            }

            span {
                display: flex;
                gap: 10px;
            }
        }
    }
}

#footer {
    border: 1px solid red;
    position: relative;
    width: calc(100% - 193px);
    left: 193px;
}
